

.demo {
    width:100%;
    
}

.options {
    width: 200px;
    float: left;
    margin-top: 30px;
}



.options a {
    padding: 12px 0;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    display: block;
    background: #00456f;
    color: white;
    text-decoration: none;
}
a.backLink {
    float:right;
    margin-bottom:10px;
}
