body {
	font-family:'myFirstFont'!important;
}

@font-face {
	font-family:'myFirstFont';
	src: url(../fonts/Poppins-Light.ttf);

}
.b-r
{
	border-right:1px solid #ccc;
}
.foo .media-body p
{
	color: #000;
}
.mu-blog-item img {
	border-radius: 10px;
	margin-bottom: 30px;
	height: 100px;
	width: 100%;
	object-fit: cover;
	box-shadow: 0px 0px 11px #000;
}

.blog2 .mu-blog-item:hover

{
	background: #eee;
	padding:10px;
	cursor: pointer;
}
.my-text p{
	color:black;
	font-weight:600;
	font-size:16px;
}
.new1

{
	color:#15384e;
	font-weight: 600;
	border: 1px #ccc solid;
	padding: 20px;
	box-shadow: inset 0px 0px 11px #ccc;

}


body,
html {
	overflow-x:hidden;
}

body {

	color: black;
	font-size: 18px;
	font-weight: 400;
}
.b-r
{
	border-right:1px solid #ccc;
}
.b-t
{
	border-top:1px solid #ccc;
}
.b-b
{
	border-bottom:1px solid #ccc;
}
ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: disc;
	font-size: 17px;
	line-height: 1.59;
}

a { 
	text-decoration: none;
	color: #2f2f2f;  
}

a:hover,
a:focus {
	outline: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	margin-top: 0;
}

h1 {
	font-size: 38px;
}

h2 {  
	font-size: 32px; 
	line-height: 1.13; 
}

h3 {  
	font-size: 26px;  
}

h4 {  
	font-size: 22px;  
}

h5 {  
	font-size: 20px;  
}

h6 {  
	font-size: 18px;  
}

img {
	border: none;
	max-width: 100%;
}

code {
	background-color: #ee6e73;
	border-radius: 2px;
	color: #fff;
	padding: 2px 4px;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 10px;
}

pre code {
	background-color: transparent;
	color: #333333;
}

del{
	text-decoration-color: #ee6e73;
}

kbd {
	background-color: #ddd;
	padding: 4px 6px;
	border-radius: 2px;
	color: ;
}

address {
	line-height: 1.5;
	padding-left: 10px;
}

dl dt {
	font-weight: 700;
}

dl dd {
	margin-left: 0;
}

blockquote {
	background-color: #f8f8f8;
	border-radius: 0 4px 4px 0;
	color: #323232;
	padding: 15px 15px;
	border-left: 5px solid #0091ea;
	font-weight: 600;
}

blockquote p {
	margin-top: 10px;
}

button {
	padding: 5px 15px;
	border: none;
}

button:focus {
	outline: none;
	border: none;
}

iframe {
	border: none;
}


/* ========= BUTTON =========*/

.mu-primary-btn {
	background-color: #0091ea;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	padding: 15px 70px;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 25px;
}

.mu-primary-btn:hover,
.mu-primary-btn:focus {
	color: #fff;
}


.mu-send-msg-btn {
	color: #555;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: center;
	padding: 12px 20px;
	margin-top: 10px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	width: 170px;
	color: #fff;
	border-radius: 20px;
	cursor: pointer;
	text-transform: uppercase;
}

.mu-send-msg-btn:hover,
.mu-send-msg-btn:focus {
	background-color: #fff;
}

/*scrol to top*/

.scrollToTop {
	background-color: #0091ea;
	bottom: 60px;
	color: #ffffff;
	display: none;
	font-size: 30px;
	line-height: 50px;
	position: fixed;
	right: 20px;
	text-align: center;
	text-decoration: none;
	width: 55px;
	z-index: 999;
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	height: 55px;
}

.scrollToTop:hover,
.scrollToTop:focus {
	color: #fff;
}

.mu-single-slide:before {
	background-color:#8481b0;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#8481b0, endColorstr=#73b58c);
	background-image:-moz-linear-gradient(left, #8481b0 55%, #73b58c 22%,#69bbd5 100%);
	background-image:linear-gradient(left, #8481b0 55%, #73b58c 22%,#69bbd5 100%);
	background-image:-webkit-linear-gradient(left, #8481b0 55%, #73b58c 22%,#69bbd5 100%);
	background-image:-o-linear-gradient(left, #8481b0 55%, #73b58c 22%,#69bbd5 100%);
	background-image:-ms-linear-gradient(left, #8481b0 55%, #73b58c 22%,#69bbd5 100%);
	background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(55%,#8481b0), color-stop(22%,#73b58c),color-stop(100%,#69bbd5));
}

a:hover,
a:focus,
.mu-book-now-btn,
.mu-copy-right a:hover,
.mu-copy-right a:focus,
.mu-send-msg-btn:hover,
.mu-send-msg-btn:focus,
.mu-logo,
.mu-logo:hover,
.mu-logo:focus,
.mu-client-quote,
.mu-clients-slider .slick-prev, 
.mu-clients-slider .slick-next,
.mu-clients-slider .slick-prev::before, 
.mu-clients-slider .slick-next::before,
.my-why-us-single-icon {
	color: #0091ea;
}


.scrollToTop,
.mu-testimonial-slide .slick-dots li.slick-active,
#mu-callto-action {
	background-color: #0091ea;
}

.mu-social-media a:hover,
.mu-social-media a:focus {
	border: 1px solid #0091ea;
	color: #0091ea;
}

.mu-contact-form .form-control:focus,
.mu-featured-tours-single-info .mu-book-now-btn {
	border: 1px solid #0091ea;    
} 

.mu-send-msg-btn,
.mu-send-msg-btn:focus,
.mu-register-btn:hover,
.mu-register-btn:focus {
	border: 1px solid #0091ea;
	background-color: #0091ea;
}

.mu-clients-slider .slick-prev, 
.mu-clients-slider .slick-next {
	border: 2px solid #0091ea;
}

/*--------------------*/
/* HEADER */
/*--------------------*/

#mu-hero {
	background-color: #00456f;
	display: inline;
	float: left;
	width: 100%;

}
.mu-logo-area {
	display: inline;
	float: left;
	width: 50%;
}

.mu-navbar .mu-logo {
	color: #fff;
	font-weight: 600;
	font-size: 36px;
}

.mu-logo span{
	display: inline-block;
}
.mu-logo span{
	margin-right:15px;
}

.mu-logo img {
	margin-top: -5px;
}

.mu-navbar .mu-logo:hover,
.mu-navbar .mu-logo:focus {
	color: #fff;
}

.mu-scrolldown-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-scrolldown {
	font-size: 40px;
	color: #fff;
	display: inline-block;
	margin-top: 50px;
}

.mu-scrolldown:hover,
.mu-scrolldown:focus {
	color: #fff;
}


/*--------------------*/
/* MENUE */
/*--------------------*/

#menu ul {
	margin: 0;
	padding: 0;
}

#menu .main-menu {
	display: none;
}

#tm:checked + .main-menu {
	display: block;
}

#menu input[type="checkbox"], 
#menu ul span.drop-icon {
	display: none;
}

#menu li, 
#toggle-menu, 
#menu .sub-menu {
	border-style: solid;
	border-color: rgba(0, 0, 0, .05);
}

#menu li, 
#toggle-menu {
	border-width: 0 0 1px;
}

#menu .sub-menu {
	background-color: #444;
	border-width: 1px 1px 0;
	margin: 0 1em;
}

#menu .sub-menu li:last-child {
	border-width: 0;
}

#menu li, 
#toggle-menu, 
#menu a {
	position: relative;
	display: block;
	color: white;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);
}

#menu, 
#toggle-menu {
	background-color: #09c;
}

#toggle-menu, 
#menu a {
	padding: 1em 1.5em;
}

#menu a {
	transition: all .125s ease-in-out;
	-webkit-transition: all .125s ease-in-out;
}

#menu a:hover {
	background-color: white;
	color: #09c;
}

#menu .sub-menu {
	display: none;
}

#menu input[type="checkbox"]:checked + .sub-menu {
	display: block;
}

#menu .sub-menu a:hover {
	color: #444;
}

#toggle-menu .drop-icon, 
#menu li label.drop-icon {
	position: absolute;
	right: 1.5em;
	top: 1.25em;
}

#menu label.drop-icon, #toggle-menu span.drop-icon {
	border-radius: 50%;
	width: 1em;
	height: 1em;
	text-align: center;
	background-color: rgba(0, 0, 0, .125);
	text-shadow: 0 0 0 transparent;
	color: rgba(255, 255, 255, .75);
}

#menu .drop-icon {
	line-height: 1;
}
@media only screen and (max-width: 64em) and (min-width: 52.01em) {
	#menu li {
		width: 33.333%;
	}

	#menu .sub-menu li {
		width: auto;
	}
}

@media only screen and (min-width: 52em) {
	#menu .main-menu {
		display: block;
	}

	#toggle-menu, 
	#menu label.drop-icon {
		display: none;
	}

	#menu ul span.drop-icon {
		display: inline-block;
	}

	#menu li {
		float: left;
		border-width: 0 1px 0 0;
	}

	#menu .sub-menu li {
		float: none;
	}

	#menu .sub-menu {
		border-width: 0;
		margin: 0;
		position: absolute;
		top: 100%;
		left: 0;
		width: 12em;
		z-index: 3000;
	}

	#menu .sub-menu, 
	#menu input[type="checkbox"]:checked + .sub-menu {
		display: none;
	}

	#menu .sub-menu li {
		border-width: 0 0 1px;
	}

	#menu .sub-menu .sub-menu {
		top: 0;
		left: 100%;
	}

	#menu li:hover > input[type="checkbox"] + .sub-menu {
		display: block;
	}
}

/*--------------------*/
/* SLIDER */
/*--------------------*/

#mu-slider {
	display: inline;
	float: left;
	width: 100%;
}
.marq{
	background-color:#3973ac;
cursor: pointer;
	background-image:-o-linear-gradient(top,#ffdb4d,#fff);
	background-image:linear-gradient(to bottom,#ffdb4d,#fff);

}

.mu-slide {
	display: inline;
	float: left;
	width: 100%;
}

.mu-single-slide {
	display: inline;
	float: left;
	position: relative;
	width: 100%;

}
.mu-slide img
{
	width:100%;
}
.mu-single-slide:before {
	/*content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.8;
	z-index: 10;*/
}


.mu-single-slide-content {
	display: inline;
	float: left;
	text-align: center;
	width: 60%;
}
.righ1
{
	float: right!important;
	width: 60%!important;
}
.left1
{
	float: right!important;
	width: 90%!important;
}
.mu-single-slide-content p {
	color: #875700;
	font-size: 20px;
	margin-bottom: 30px;
}

.mu-single-slide-content h1 {
	color: #00456f;
	text-transform: uppercase;
	font-size: 26px;
	margin-bottom: 30px;
}
.righ1 h1 {
	color: #e7c200!important;
	
}
.righ1 p {
	color: #ffffff!important;
	font-size: 20px;
	margin-bottom: 30px;
}
.mu-single-slide-content p {
	color: #875700;
	font-size: 20px;
	margin-bottom: 30px;
}

.mu-single-slide-content a {
	margin-top: 30px;
}
.mu-footer-top P
{
	letter-spacing: 1px;
}
.mu-slide .slick-prev:hover,
.mu-slide .slick-prev:focus,
.mu-slide .slick-next:hover,
.mu-slide .slick-next:focus {
	color: #0091ea;
}
.mu-slide .slick-prev:hover:before,
.mu-slide .slick-prev:focus:before,
.mu-slide .slick-next:hover:before,
.mu-slide .slick-next:focus:before {
	color: #0091ea;
}

/*--------------------*/
/* ABOUT US */
/*--------------------*/


#mu-about {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.mu-about-area {
	display: inline;
	float: left;
	padding: 30px 0;
	width: 100%;
}

.mu-title {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
	margin-bottom: 35px;
	/* padding: 0 25%; */
}

.mu-title h2 {
	color: #e15500;
	font-size:25px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.mu-title p {
	color: #15384e;
	font-size: 16px;
	font-weight: 600;
	padding: 10px;
}

.mu-about-left {
	display: inline;
	float: left;
	padding-right: 15px;
	width: 100%;
}

.mu-about-right {
	display: inline;
	float: left;
	padding-left: 15px;
	width: 100%
}

.mu-about-right ul {}

.mu-about-right ul li {
	list-style: none;
	float: left;
	margin-bottom: -9px;
}

.mu-about-right ul li h3 {
	border-bottom: 3px solid #e5e5e5;
	color: #c86e00;
	font-size: 20px;
	display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

.mu-about-right p {
	font-size: 14px;
	font-weight: 600;
}


/*--------------------*/
/* CALL TO ACTION */
/*--------------------*/

#mu-call-to-action {
	background-image: url(assets/images/call-to-action-bg.jpg);
	float: left;
	position: relative;
	width: 100%;
}

#mu-call-to-action:before {
	background: #00456f;
	content: '';
	position: absolute;
	opacity: 0.84;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.mu-call-to-action-area {
	display: inline;
	float: left;
	padding: 70px 0;
	width: 100%;
}

.mu-call-to-action-left {
	color: #fff;
	display: inline;
	float: left;
	max-width: 70%;
}

.mu-call-to-action-left h2 {
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #fff821;
}

.mu-call-to-action-left p {
	margin-bottom: 0;
}

.mu-quote-btn {
	background-color: #fff;
	color: #ea5600;
	float: right;
}

.mu-quote-btn:hover,
.mu-quote-btn:focus {
	color: #0091ea;
}

/*--------------------*/
/* SERVICE */
/*--------------------*/

#mu-service {
	display: inline;
	float: left;
	width: 100%;
	padding: 20px 0px;
}

.mu-service-area {
	display: inline;
	float: left;
	width: 100%;
}

.mu-service-content {
	display: inline;
	float: left;
	width: 100%;
}

.mu-single-service {
	display: inline;
	float: left;
	width: 100%;
	margin-top: 4px;
	margin-bottom: 5px;
	border: 1px solid #ccc;
	padding: 5px;
	box-shadow: 0px 5px 11px #ccc;
	border-radius: 10px;
	
}
.mu-single-service:hover{
	box-shadow: 0px 5px 5px grey;

}
.mu-single-service-icon {
	background-color:#005990;
	border-radius: 50%;
	color: #fff;
	display: inline;
	font-size: 18px;
	float: left;
	height: 45px;
	width: 45px;
	text-align: center;
	line-height: 48px;
	margin-right: 20px;
	margin-top: 7px;
	
}
.mu-single-service-icon:hover{
	background-color:#e7c200;
	

}
.text-head h4{
	color: white;
}
.text-head p{
	color: white;
}
.mix{
	padding: 0px 50px; 
}

.mu-single-service-icon .fa {
	
}

.mu-single-service-content {
	display: inline;
	float: left;
	width: 75%;
	height: 60px;
}

.mu-single-service-content h3 {
	color: #323232;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 26px;
}

.mu-single-service-content p {
	font-size: 14px;
}

/* leftbar-rightbar*/
.leftbar{
	box-shadow: 2px 2px 4px grey inset;
	border-left: 2px solid black;
	
}
.leftbar h4{
	background-color:#ffa31a;
	padding:17px 0px;
	text-align:center;
	text-shadow: 2px 2px 6px white;
}
.leftbar span{
	letter-spacing: 1px;

	
	
}
.rightbar h4{
	background-color:#97c7d2;
	padding:17px 0px;
	text-align:center;
	text-shadow: 2px 2px 6px white;

}
.sub-rightbar{

	box-shadow: 2px 2px 4px grey;
	padding:10px 10px 7px 10px;
	border-left: 4px solid #ff4d4d;
	margin-top: 15px;
	
}
.rightbar p{
	font-family:'times new roman'!important;}

	.sub-rightbar1{

		box-shadow: 2px 2px 4px grey;
		padding: 10px 10px 35px 10px; 

		border-left: 4px solid #993399;
		padding: 10px;
		margin-top: 10px;

	}
	.sub-rightbar2{

		box-shadow: 2px 2px 4px grey;
		padding: 15px;
		margin-top: 20px;
		border-left: 4px solid #0099ff;
	}
	.sub-rightbar2:hover{
		background-color: #0099ff;
		color: white;
		box-shadow: 3px 3px 4px grey;

	}
	.sub-rightbar1:hover{
		background-color: #993399;
		color: white;
		box-shadow: 3px 3px 4px grey;

	}
	.sub-rightbar:hover{
		background-color:#ff4d4d;
		color: white;
		box-shadow: 3px 3px 4px grey;

	}
	.grid{
		margin-top: 10px;
	}



	/*--------------------*/
	/* VIDEO */
	/*--------------------*/


	#mu-video {
		background-color: #f5f5f5;
		display: inline;
		float: left;
		position: relative;
		width: 100%;
	}

	.mu-video-left {
		background-image: url(assets/images/video-img.jpg);
		display: inline;
		float: left;
		text-align: center;
		position: relative;
		width: 100%;
		padding: 195px 0;
		background-size: cover;
	}

	.mu-video-left:after {
		background-color: #0091ea;
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		height: 100%;
		opacity: 0.84;
		width: 100%;
		z-index: 10;
	}

	.mu-video-play-btn {
		background-color: #fff;
		border-radius: 15px;
		display: inline-block;
		color: #0091ea;
		height: 55px;
		width: 80px;
		position: relative;
		font-size: 20px;
		z-index: 99;
		line-height: 55px;
		opacity: 0.8;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

	.mu-video-play-btn:hover,
	.mu-video-play-btn:focus {
		opacity: 1;
	}

	.mu-video-right {
		display: inline;
		float: left;
		width: 100%;
		padding-top: 180px;
		padding-right: 44%;
		padding-left: 25px;
	}

	.mu-video-right p {
		color: #0091ea;
		font-size: 18px;
	}


	/*video popup*/


	.mu-video-popup {
		display: inline;
		float: left;
		width: 100%;
	}

	.mu-video-close-btn {
		border-radius: 50%;
		color: #fff;
		font-size: 18px;
		border: 2px solid #fff;
		position: absolute;
		top: 0;
		right: 15%;
		display: inline-block;
		height: 50px;
		line-height: 45px;
		text-align: center;
		margin-top: 100px;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		width: 50px;
	}

	.mu-video-close-btn:hover,
	.mu-video-close-btn:focus {
		color: #fff;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}

	.mu-video-iframe-area {
		background-color: rgba(0,0,0,0.84);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		padding: 12% 0;
		text-align: center;
		z-index: 9999;
		display: none;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

	.mu-video-iframe-display {
		display: block;
	}

	.mu-video-iframe-area iframe {

	}

	/*--------------------*/
	/* PORTFOLIO */
	/*--------------------*/

	#mu-portfolio {
		display: inline;
		float: left;
		width: 100%;
	}

	.mu-portfolio-area {
		display: inline;
		float: left;
		padding: 100px 0;
		width: 100%;
	}

	.mu-portfolio-content{
		display: inline;
		float: left;
		margin-top: 20px;
		width: 100%;
	}

	.mu-portfolio-filter-area{
		display: inline;
		float: left;
		width: 100%;
	}

	.filtr-item {
		margin-bottom: 0px;
		padding: 16px;
		transform-style: unset !important;
	}

	.mu-imglink {
		background-color: transparent;
	}

	.filtr-item h4 {
		font-size: 14px;
	}

	.mu-filter-item-content {
		background-color: #0091ea;
		position: absolute;
		left: 16px;
		top: 16px;
		right: 16px;
		bottom: 16px;
		color: #fff;
		padding-top: 27%;
		text-align: center;
		-webkit-transform: scale(0);
		transform: scale(0);
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
		opacity: 0.9;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	}

	.filtr-item:hover .mu-filter-item-content {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}


	/* Filter controls */

	.mu-simplefilter {
		text-align: center;
	}

	.mu-simplefilter li {
		color: #323232;
		cursor: pointer;
		display: inline-block;
		margin: 0 6px;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
		font-size: 16px;
		font-weight: 700;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

	.mu-simplefilter li span {
		margin-left: 16px;
	}

	.mu-simplefilter li:hover,
	.mu-simplefilter li.active {
		color: #0091ea;
	}



	/*--------------------*/
	/* COUNTER */
	/*--------------------*/

	#mu-counter {
		background-image: url("assets/images/counter-bg.jpg");
		background-size: cover;
		display: inline;
		float: left;
		position: relative;
		width: 100%;
	}

	#mu-counter::before {
		bottom: 0;
		content: '';
		left: 0;
		top: 0;
		right: 0;
		position: absolute;
		opacity: 0.65;
		background-color: #0091ea;
	}

	.mu-counter-area {
		display: inline;
		float: left;
		padding: 100px 0;
		width: 100%;
	}

	.mu-counter-area h2 {
		color: #fff;
		text-align: center;
	}

	.mu-counter-block {
		display: inline;
		float: left;
		width: 100%;
	}

	.mu-single-counter {
		display: inline;
		float: left;
		text-align: center;
		width: 100%;
	}

	.mu-single-counter span {
		border-right: 1px solid #fff;
		color: #fff;
		font-size: 40px;
		padding: 32px 20px;
		margin-bottom: 0px;
		display: inline-block;
		float: left;
	}

	.mu-single-counter-content {
		display: inline;
		float: left;
		text-align: left;
		padding-left: 20px;
		padding-top: 16px;
	}

	.counter-value {
		font-size: 36px;
		font-family: 'Helvetica', sans-serif;
		font-weight: 700;
		margin-bottom: 0;
		color: #fff;
		line-height: 1.2;
	}


	.mu-counter-name {
		color: #ffffff;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 24px;
	}

	/*--------------------*/
	/* PRICING */
	/*--------------------*/

	#mu-pricing {
		background-color: #fff;
		float: left;
		padding: 100px 0;
		display: inline;
		width: 100%;
	}

	.mu-pricing-area {
		display: inline;
		float: left;
		text-align: center;
		width: 100%;
	}

	.mu-pricing-area h2 {
		color: #333;	
	}

	.mu-title-content {
		padding: 0 10%;
	}

	.mu-pricing-content {
		display: inline;
		float: left;
		margin-top: 10px;
		width: 100%;
	}

	.mu-pricing-table {
		display: table;
		width: 100%;
	}

	.mu-pricing-table > li {
		list-style: none;
		display: inline-block;
		margin: 0 15px;
		width: 24%;
		vertical-align: middle;
	}

	.mu-pricing-table > li.mu-standard-pricing {
		width: 32%;
	}

	.mu-pricing-single {
		display: inline;
		float: left;
		text-align: center;
		padding: 20px 0;
		width: 100%;
		box-shadow: 0px 0px 14px #ededed;
		border-radius: 5px;
	}

	.mu-pricing-single-icon {
		display: inline;
		float: left;
		width: 100%;
		padding-bottom: 30px;
	}

	.mu-pricing-single-icon span {
		color: #0277bd;
		font-size: 60px;
	}

	.mu-pricing-single-title {
		background-color: #0277bd;
		color: #fff;
		display: inline;
		float: left;
		padding: 15px 0;
		width: 100%;
	}

	.mu-pricing-single-title h3 {
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 0;
	}

	.mu-pricing-single-content {
		display: inline;
		float: left;
		padding: 35px 0 15px;
		width: 100%;
	}

	.mu-pricing-single-content ul {}

	.mu-pricing-single-content ul li {
		color: #666666;
		font-size: 14px;
		list-style: none;
		line-height: 1.7;
	}

	.mu-single-pricebox {
		display: inline;
		float: left;
		padding: 5px 0 25px;
		width: 100%;
	}

	.mu-single-pricebox h4 {
		color: #0277bd;
		font-size: 48px;
		font-family: 'Open Sans', sans-serif;
	}

	.mu-single-pricebox h4 > span {
		font-weight: normal;
		font-size: 14px;
	}

	.mu-buy-now-btn {
		background-color: #0277bd;
		border-radius: 20px;
		color: #fff;
		display: inline-block;
		font-size: 18px;
		padding: 10px 50px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.mu-buy-now-btn:hover,
	.mu-buy-now-btn:focus {
		color: #fff;
	}

	.mu-standard-pricing .mu-pricing-single {
		padding: 25px 50px;
	}

	.mu-standard-pricing .mu-pricing-single-content {
		padding: 50px 0 40px;
	}

	.mu-standard-pricing .mu-single-pricebox {;
		padding: 5px 0 40px;
	}

	.mu-standard-pricing .mu-buy-now-btn {
		background-color: #0277bd;
		border-radius: 20px;
		color: #fff;
		display: inline-block;
		font-size: 18px;
		padding: 8px 48px;
		text-transform: uppercase;
		margin-bottom: 35px;
	}


	/*--------------------*/
	/* TESTIMONIALS */
	/*--------------------*/

	#mu-testimonials {
		background-image: url("assets/images/testimonial-bg.jpg");
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
		display: inline;
		float: left;
		position: relative;
		width: 100%;
	}

	#mu-testimonials::before {
		background: #0091ea;
		bottom: 0;
		content: '';
		left: 0;
		top: 0;
		right: 0;
		position: absolute;
		opacity: 0.8;
		z-index: 10;
	}

	.mu-testimonials-area {
		display: inline;
		float: left;
		padding: 150px 0 175px;
		width: 100%;
		position: relative;
		z-index: 20;
	}

	.mu-testimonials-area h2 {
		color: #fff;
		text-align: center;
		text-transform: uppercase;
	}

	.mu-testimonials-block {
		display: inline;
		float: left;
		margin-top: 60px;
		width: 100%;
	}

	.mu-testimonial-slide li{
		list-style: none;
		text-align: center;
	}

	.mu-client-quote {
		font-size: 35px;
		opacity: 0.7;
		margin-bottom: 25px;
	}

	.mu-testimonial-slide li p {
		color: #fff;
		padding: 0 10%;
	}

	.mu-testimonial-slide .mu-rt-img {
		border-radius: 50%;
		width: 75px;
		height: 75px;
		display: inline-block;
		border: 4px solid #f8f8f8;
		margin-bottom: 25px;
	}

	.mu-rt-name {
		margin-bottom: 5px;
		color: #fff;
		line-height: 1;
		margin-top: 25px;
		letter-spacing: 1px;
	}

	.mu-rt-title {
		color: #fff;
		font-size: 14px;
	}

	.mu-testimonial-slide .slick-dots {
		bottom: -50px;
	}

	.mu-testimonial-slide .slick-dots li {
		background-color: #f8f8f8;
		height: 4px;	
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}

	.mu-testimonial-slide .slick-dots li button {
		display: none;
	}

	.mu-testimonial-slide .slick-next {
		right: -60px;
	}

	.mu-testimonial-slide .slick-prev {
		left: -60px;
	}

	.mu-testimonial-slide .slick-prev:hover,
	.mu-testimonial-slide .slick-prev:focus,
	.mu-testimonial-slide .slick-next:hover,
	.mu-testimonial-slide .slick-next:focus {
		color: #0091ea;
	}

	.mu-testimonial-slide .slick-prev:hover:before,
	.mu-testimonial-slide .slick-prev:focus:before,
	.mu-testimonial-slide .slick-next:hover:before,
	.mu-testimonial-slide.slick-next:focus:before {
		color: #0091ea;
	}


	/*--------------------*/
	/* NEWS LETTER */
	/*--------------------*/

	#mu-newsletter {
		background-image: url("assets/images/newsletter-bg.jpg");
		background-position: center center;
		background-size: cover;
		display: inline;
		float: left;
		position: relative;
		width: 100%;
	}


	#mu-newsletter::before {
		background: #0091ea;
		bottom: 0;
		content: '';
		left: 0;
		top: 0;
		right: 0;
		position: absolute;
		opacity: 0.8;
		z-index: 10;
	}


	.mu-newsletter-area {
		display: inline;
		float: left;
		position: relative;
		width: 100%;
		padding: 75px 0;
		z-index: 20;
	}

	.mu-newsletter-area .mu-title h2 {
		color: #fff;
	}

	.mu-newsletter-area .mu-title p {
		color: #fff;
	}

	.mu-newsletter-content {
		display: inline;
		float: left;
		margin-top: 10px;
		width: 100%;
		padding: 0 28%;
	}

	.mu-subscribe-form {
		position: relative;
	}

	.mu-subscribe-form input {
		width: 100%;
		height: 60px;
		border-radius: 25px;
		border: none;
		padding: 0 170px 0 20px;
		font-size: 14px;
		color: #000;
	}

	.mu-subscribe-btn {
		background-color: #0091ea;
		color: #fff;
		font-size: 18px;
		position: absolute;
		right: 6px;
		top: 6px;
		height: 48px;
		width: 160px;
		cursor: pointer;
		border-radius: 24px;
		text-transform: uppercase;
		font-weight: 700;
	}

	/*--------------------*/
	/* CLIENTS */
	/*--------------------*/

	#mu-clients {
		background-color: #f6f6f6;
		display: inline;
		float: left;
		width: 100%;
	}

	.mu-clients-area {
		display: inline;
		float: left;
		padding: 70px 0;
		width: 100%;
		text-align: center;
	}

	.mu-clients-slider {
		display: inline;
		float: left;
		width: 100%;
	}

	.mu-clients-single {
		display: inline;
		float: left;
	}

	.mu-clients-slider .slick-next {
		right: -40px;
	}

	.mu-clients-slider .slick-prev {
		left: -60px;
	}

	.mu-clients-slider .slick-prev, 
	.mu-clients-slider .slick-next {
		background-color: transparent;
	}

	/*--------------------*/
	/* GOOGLE MAP */
	/*--------------------*/

	#mu-google-map {
		display: inline;
		float: left;
		width: 100%;
		margin-bottom: -7px;
	}

	#mu-google-map iframe {
		height: 450px;
		width: 100%;
	}

	/*--------------------*/
	/* FOOTER */
	/*--------------------*/


	#mu-footer {
		background-color: #fff;
		display: inline;
		float: left;
		width: 100%;
	}

	.mu-footer-top {
		background-color: #3c3c3c;
		display: inline;
		float: left;
		padding: 35px 0 10px 0;
		width: 100%;
	}

	.mu-single-footer {
		display: inline;
		float: left;
		color: #fff;
		font-size: 14px;
		width: 100%;
	}

	.mu-footer-logo {
		margin-bottom: 25px;
	}

	.mu-single-footer h3 {
		color: #ffb735;
		font-size: 18px;
		text-transform: uppercase;
		margin-bottom: 35px;
		border-bottom: 2px dotted #999;
		padding: 10px;
	}

	.mu-single-footer ul li {

		list-style: none;
		margin-bottom: 10px;
		padding-bottom: 12px;
		font-size: 14px;
	}

	.mu-single-footer ul li:last-child {
		border-bottom: none;
	}

	.mu-single-footer ul li a {
		color: #fff;
	}

	.mu-single-footer .mu-useful-links li {
		line-height: 1;
		padding-bottom: 15px;
		margin-bottom: 15px;
		padding-left: 25px;
	}

	.mu-single-footer .list-unstyled li {
		margin-bottom: 20px;
		padding-bottom: 10px;
	}
	.mu-single-footer p{
		text-align: justify;
	}
	.mu-single-footer .list-unstyled li.media span {
		margin-right: 10px;
	}
	p
	{
		letter-spacing: 1px!important
	}
	.mu-single-footer .list-unstyled li.media p {
		line-height: 1.5;
		margin-top: -5px;
		margin-bottom: 4px;
		font-size: 14px;
		border-bottom: 1px solid #cccccc59;
		padding: 10px;

		font-weight: 600;
	}

	.mu-single-footer .list-unstyled li.media a {
		font-size: 12px;
	}

	.mu-footer-bottom {
		background-color:#111111b8;
		display: inline;
		padding: 10px;
		float: left;
		width: 100%;
		letter-spacing: 1px;
	}

	.mu-footer-bottom-area {
		display: inline;
		float: left;
		text-align: center;
		width: 100%;
	}

	.mu-social-media {
		display: inline;
		float: left;
		width: 100%;

		padding-top: 12px;
	}

	.mu-social-media a {
		background-color: #3b5998;
		border: 1px solid #babcbe;
		border-radius: 50%;
		color: #fff;
		display: inline-block;
		margin-right: 6px;
		text-align: center;
		text-decoration: none;
		transition: all 0.2s ease-in-out 0s;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 16px;
	}

	.mu-social-media a.mu-twitter {
		background-color: #1da1f2;
	}

	.mu-social-media a.mu-google-plus {
		background-color: #dd4b39;
	}

	.mu-social-media a.mu-pinterest {
		background-color: #bd081c;
	}

	.mu-social-media a.mu-youtube {
		background-color: #cd201f;
	}

	.mu-social-media a:hover,
	.mu-social-media a:focus {
		border-color: #babcbe;
		color: #fff;
	}

	.mu-copy-right {
		color: #fff;
		margin-bottom: 0;
		font-size: 14px;
	}

	.mu-copy-right a {
		color: #fff;
		font-weight: 600;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}


	/*--------------------*/
	/* ABOUT US */
	/*--------------------*/


	#mu-page-header {
		background-image: url(../images/page-header-bg.jpg);
		background-position: center center;
		background-size: cover;
		display: inline;
		float: left;
		position: relative;
		width: 100%;
	}

	#mu-page-header::before {
		background-color: #ebebeb;
		bottom: 0;
		content: '';
		left: 0;
		top: 0;
		right: 0;
		position: absolute;
		opacity: 0.60;
		z-index: 10;
	}

	.mu-page-header-area {
		display: inline;
		float: left;
		padding: 150px 0;
		width: 100%;
		position: relative;
		z-index: 20;
	}

	.mu-page-header-title {
		color: #32322E;
		text-align: center;
		font-size: 30px;
		text-transform: uppercase;
		margin-bottom: 0;
		padding: 14px;
		background: #ffa50066;
	}

	#mu-breadcrumb {
		background-color: #f6f6f6;
		display: inline;
		float: left;
		width: 100%;
	}

	.mu-breadcrumb {
		background-color: transparent;
		margin-bottom: 0;
		padding-left: 0;
	}

	.mu-breadcrumb li {
		font-size: 14px;
	}

	.mu-breadcrumb li.active {
		color: #0091ea;
	}

	.mu-breadcrumb li a {
		color: #323232;
	}

	#mu-skills {
		background-image: url(assets/images/skill-bg.jpg);
		background-position: center center;
		background-size: cover;
		display: inline;
		float: left;
		padding: 100px 0;
		position: relative;
		width: 100%;
	}

	#mu-skills:before {
		background-color: #000000;
		content: '';
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		position: absolute;
		opacity: 0.3;
		z-index: 10;
	}

	.mu-skills-area {
		display: inline;
		float: left;
		position: relative;
		width: 100%;
		z-index: 20;
	}

	.mu-skills-area .mu-title h2,
	.mu-skills-area .mu-title p {
		color: #fff;
	}

	.mu-skills-content {
		display: inline;
		float: left;
		width: 100%;
	}

	.mu-single-skills {
		color: #fff;
		display: inline;
		float: left;
		width: 100%;
		text-align: center;
	}

	.mu-single-skills h3 {
		font-size: 18px;
	}

	.mu-single-skills p {
		margin-bottom: 0;
	}

	.mu-skills-circle {
		float: left;
		width: 100%;
		text-align: center;
		display: inline;
		margin-bottom: 30px;
	}

	.mu-skills-circle .mu-circle {
		height: 146px !important;
		width: 146px !important;
		margin: 0 auto;
		float: none;
	}

	.mu-skills-circle .mu-circle .text {
		background-color: #0091ea;
		color: #fff !important;
		font-size: 20px;
		padding: 20px 15px;
		border-radius: 50%;
	}

	.mu-skills-percantage {
		display: inline-block;
	}

	.mu-skills-circle .loader-spinner {
		border-color: #0091ea;
	}

	#mu-team {
		display: inline;
		float: left;
		width: 100%;
	}

	.mu-team-area {
		display: inline;
		float: left;
		padding: 100px 0 90px;
		width: 100%;
	}

	.mu-team-content {
		display: inline;
		float: left;
		width: 100%;
	}

	.mu-single-team {
		background-color: #f6f6f6;
		display: inline;
		float: left;
		width: 100%;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.mu-single-team-img {
		display: inline;
		float: left;
		width: 25%;
	}

	.mu-single-team-img img {}

	.mu-single-team-content {
		display: inline;
		float: left;
		width: 75%;
		padding: 15px 33px;
	}

	.mu-single-team-content h3 {
		font-size: 18px;
		color: #323232;
		margin-bottom: 0;
	}

	.mu-single-team-content span {
		display: inline-block;
		font-size: 16px;
		color: #0091ea;
		margin-bottom: 5px;
	}

	.mu-single-team-content p {
		font-size: 14px;
		margin-bottom: 12px;
	}

	.mu-team-social li {
		list-style: none;
		display: inline-block;
	}

	.mu-team-social li a {
		background-color: #ebebeb;
		border-radius: 50%;
		color: #7a7272;
		display: inline-block;
		font-size: 16px;
		height: 35px;
		line-height: 35px;
		margin-right: 10px;
		width: 35px;
		text-align: center;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

	.mu-team-social li a:hover,
	.mu-team-social li a:focus {
		background-color: #0091ea;
		color: #fff;
	}

	/*--------------------*/
	/* BLOG PAGE */
	/*--------------------*/

	#mu-from-blog {
		background-color: #fff;
		float: left;
		padding: 40px 0;
		display: inline;
		width: 100%;
	}

	.mu-from-blog-area {
		display: inline;
		float: left;
		width: 100%;
	}

	.mu-from-blog-content {
		display: inline;
		float: left;
		margin-top: 10px;
		width: 100%;
	}

	.blog2 .mu-blog-item {
		box-shadow: 0px 0px 14px #ededed;
		display: inline;
		float: left;
		width: 100%;
		background: #ffffff42;
		padding: 20px;
		border: 1px solid #ccc;
		margin-bottom: 20px;
		height: 200px;
	}

	.mu-blog-item-content {
		display: inline;
		float: left;

		width: 100%;
	}

	.mu-blog-meta {
		margin-bottom: 10px;
	}

	.mu-blog-meta li {
		color: #8f9090;
		font-size: 12px;
		list-style: none;
		display: inline-block;
		position: relative;
		padding-right: 20px;
		margin-right: 10px;
	}

	.mu-blog-meta li i {
		margin-right: 3px;
	}

	.mu-blog-meta li:after {
		content: '/';
		position: absolute;
		right: 0;
		top: 0;
	}
	.
	.mu-blog-meta li:last-child:after {
		display: none;
	}

	.mu-blog-item-title,
	.mu-blog-item-title a {
		color: #0015ab;
		font-size: 16px;
		line-height: 1.5;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

	.mu-blog-item-title a:hover,
	.mu-blog-item-title a:focus {
		color: #0277bd;
	}

	.mu-blog-item-content p {
		color: #323232;
		font-size: 14px;
	}

	.mu-blog-item-content p a {}

	.mu-blg-readmore-btn {
		color: #0277bd;
		font-size: 14px;
	}

	#mu-blog {
		display: inline;
		float: left;
		padding: 60px 0;
		width: 100%;
	}

	.mu-blog {
		display: inline;
		float: left;
		width: 100%;
	}

	.mu-blog-left {
		display: inline;
		float: left;
		width: 100%;
	}

	#mu-blog .mu-blog-item {
		box-shadow: none;
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 50px;
		padding-bottom: 20px;
	}

	#mu-blog  .mu-blog-item-content {
		padding: 25px 0;
	}

	.mu-blog-pagination {
		display: inline;
		float: left;
		width: 100%;
	}

	.mu-blog-pagination {
		display: inline;
		float: left;
		width: 100%;
	}

	.mu-blog-pagination .pagination {
		float: right;
	}

	.mu-blog-pagination .pagination li {
		list-style: none;
		margin: 0 5px;
	}

	.mu-blog-pagination .pagination li:last-child {
		margin-right: 0;
	}

	.mu-blog-pagination .pagination .page-link {
		background-color: #0091ea;
		border: none;
		color: #fff;
		padding: 0;
		margin-left: 0;
		font-size: 18px;
		width: 45px;
		text-align: center;
		height: 45px;
		line-height: 43px;
		font-weight: bold;
	}

	.mu-blog-pagination .pagination .page-item:first-child .page-link {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		line-height: 45px;
	}

	.mu-blog-pagination .pagination .page-item:last-child .page-link {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		line-height: 45px;
	}

	.mu-blog-sidebar {
		display: inline;
		float: left;
		width: 100%;
	}

	.mu-sidebar-widget {
		display: inline;
		float: left;
		margin-bottom: 40px;
		width: 100%;
	}

	.mu-search-form {
		position: relative;
	}

	.mu-search-form input {
		border: 1px solid #e1e1e1;
		color: #323232;
		font-size: 14px;
		height: 60px;
		width: 100%;
		border-top-color: #0091ea;
		border-top-width: 2px;
		padding: 0 50px 0 20px;
	}

	.mu-search-form .mu-search-submit-btn {
		background-color: transparent;
		border: none;
		color: #0091ea;
		font-size: 18px;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		bottom: 0;
		width: 50px;
	}

	.mu-sidebar-widget-title {
		/* background-color: #ededed; */
		border-bottom: 2px dotted #dcdcdc;
		color: #986200;
		font-size: 17px;
		padding: 16px 20px;
	}

	.mu-sidebar-social-widget .mu-social-media {
		border-top: none;
		margin-top: 10px;
		text-align: center;
	}

	.mu-sidebar-social-widget .mu-social-media a {
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 20px;
	}

	.mu-sidebar-widget ul,
	.mu-sidebar-widget ul>ul {
		padding-left: 15px;
	}

	.mu-sidebar-widget ul li {
		list-style: none;
		font-size: 16px;
	}

	.mu-sidebar-widget ul li a {
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

	.mu-sidebar-widget-nav {
		margin-top: 20px;
	}

	.mu-sidebar-widget-nav li {
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 5px;
		margin-bottom: 5px;
	}

	.mu-sidebar-widget-nav li a i {
		margin-right: 5px;
	}

	.mu-sidebar-widget-nav li:last-child {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.mu-sidebar-widget-nav ul li:first-child {
		border-top: 1px solid #e5e5e5;
		margin-top: 5px;
		padding-top: 5px;
	}

	.mu-tags {
		display: inline;
		float: left;
		margin-top: 20px;
		width: 100%;
	}

	.mu-tags a {
		border: 1px solid #e1e1e1;
		border-top-color: #0091ea;
		display: inline-block;
		font-size: 14px;
		padding: 12px 15px;
		margin: 0 10px 15px 0;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

	.mu-sidebar-subscribe-widget .mu-subscribe-form {
		margin-top: 25px;
	}

	.mu-sidebar-subscribe-widget .mu-subscribe-form input {
		border: 1px solid #0091ea;
	}

	.mu-popular-content-widget {
		display: inline;
		float: left;
		margin-top: 20px;
		width: 100%;
	}

	.mu-popular-content-widget .media {
		margin-bottom: 30px;
	}

	.mu-popular-content-widget .media:last-child {
		margin-bottom: 0;
	}

	.mu-popular-content-widget .media > .mu-popular-post-img {
		width: 120px;
		margin-right: 10px;
	}

	.mu-popular-content-widget .media .mu-blog-meta {
		margin-bottom: 5px;
		padding-left: 0;
	}

	.mu-popular-content-widget .media .mu-blog-meta li {
		font-size: 12px;
		padding-right: 15px;
		margin-right: 4px;
	}

	.mu-popular-content-widget .media .media-body h3 {
		color: #323232;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.3;
	}

	/*Blog Single*/

	#mu-blog.mu-blog-single .mu-blog-item {
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	#mu-blog.mu-blog-single .mu-blog-item-title{
		color: #666;
		font-size: 24px;

	}

	.mu-blog-single ul {
		padding-left: 25px;
	}

	.mu-blog-tag {
		display: inline;
		float: left;
		width: 100%;
		border-top: 1px solid #cccccc;
		border-bottom: 1px solid #ccc;
		padding: 20px 0;
	}

	.mu-blog-single .mu-blog-tag-nav,
	.mu-blog-single .mu-blog-share-nav {
		padding-left: 0;
	}

	.mu-blog-tag-nav li {
		list-style: none;
		display: inline-block;
	}

	.mu-blog-tag-nav li h3 {
		color: #323232;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		margin-right: 10px;
	}

	.mu-blog-tag-nav li span {
		margin-right: 5px;
	}

	.mu-blog-tag-nav li a {
		display: inline-block;
		color: #323232;
		font-size: 14px;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

	.mu-blog-tag-nav li a:hover,
	.mu-blog-tag-nav li a:focus {
		color: #0091ea;
	}

	.mu-blog-share {
		display: inline;
		float: left;
		width: 100%;
		border-bottom: 1px solid #ccc;
		padding: 20px 0;
	}

	.mu-blog-share .mu-blog-share-nav {
		border-top: none;
		margin-top: 0;
		padding-top: 0;
	}

	.mu-blog-share-nav li {
		list-style: none;
		display: inline-block;
	}

	.mu-blog-share-nav li h3 {
		color: #323232;
		font-size: 18px;
		font-weight: 600;
		margin-right: 10px;
	}

	.mu-blog-navigation {
		display: inline;
		float: left;
		width: 100%;
		padding: 40px 0;
	}

	.mu-blog-nav-btn {
		background-color: #ebebeb;
		color: #a9a9a9;
		font-size: 14px;
		font-weight: 700;
		display: inline-block;
		padding: 15px 20px;
	}

	.mu-blog-nav-prev {
		float: left;
	}

	.mu-blog-nav-prev span {
		margin-right: 5px;
	}

	.mu-blog-nav-next {
		float: right;

	}

	.mu-blog-nav-next span {
		margin-left: 5px;
	}

	.mu-related-post {
		display: inline;
		float: left;
		width: 100%;
	}

	.mu-related-post .mu-related-post-title {
		border-bottom: 4px solid #ebebeb;
		color: #323232;
		display: inline-block;
		font-size: 24px;
		padding-bottom: 5px;
		margin-bottom: 25px;
	}

	.mu-blog-single .mu-blog-meta {
		padding-left: 0;
	}

	#mu-blog.mu-blog-single .mu-related-post .mu-blog-item-title {
		font-size: 16px;
	}

	.mu-comments-area {
		display: inline;
		float: left;
		width: 100%;
		margin-top: 20px;
	}

	.mu-comments-area h2 {
		margin-bottom: 20px;
		padding: 20px;
		background-color: #f6f6f6;
		color: #323232;
		font-size: 24px;
	}

	.mu-comments-area .comments {
		float: left;
		display: inline;
		margin-top: 20px;
		width: 100%;
	}

	.mu-comments-area .comments .commentlist {
		padding-left: 0;
	}

	.mu-comments-area .comments .commentlist li {
		border-bottom: 1px solid #ddd;
		display: inline;
		float: left;
		margin-bottom: 20px;
		padding: 10px;
		position: relative;
		width: 100%;
	}

	.mu-comments-area .comments .commentlist li .news-img {
		background-color: #ebebeb;
		height: 70px;
		margin-right: 15px;
		max-width: inherit;
		width: 70px;
		border-radius: 50%;
	}

	.mu-comments-area .comments .commentlist li .media-body p {
		margin-bottom: 0px;
		font-size: 14px;
		color: #323232;
	}

	.mu-comments-area .comments .commentlist li .media-body .author-name {
		margin-bottom: 0px;
		margin-top: 0;
		color: #323232;
		font-size: 16px;
	}

	.mu-comments-area .comments .commentlist li .comments-date {
		display: block;
		font-size: 12px;
		letter-spacing: 0.5px;
		margin-bottom: 5px;
		margin-top: 5px;
		color: #323232;
	}

	.mu-comments-area .comments .commentlist li .reply-btn {
		color: #323232;
		display: inline-block;
		font-size: 14px;
		line-height: 13px;
		margin-bottom: 10px;
		margin-top: 10px;
		padding: 8px 10px;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

	.mu-comments-area .comments .commentlist li .reply-btn i {
		color: #0091ea;
		margin-right: 10px;
	}


	.mu-comments-area .comments .commentlist li .reply-btn span {
		margin-left: 5px;
	}

	.mu-comments-area .comments .commentlist li .reply-btn:hover, 
	.mu-comments-area .comments .commentlist li .reply-btn:focus {
		color: #0091ea;
		text-decoration: none;
		outline: none;
	}

	.mu-comments-area .comments .commentlist li .children {
		margin-left: 50px;
	}

	.mu-comments-area .comments .commentlist li .author-tag {
		background-color: #0091ea;
		color: #fff;
		display: inline-block;
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 1px;
		margin-bottom: 5px;
		padding: 4px 8px;
	}

	.mu-comments-area .comments .commentlist li .author-comments {
		background-color: #f8f8f8;
	}

	.mu-comments-area .comments .commentlist .children {
		padding-left: 25px;
	}

	.mu-comments-area .comments .comments-pagination {
		display: inline-block;
		text-align: left;
		padding-left: 0;
		padding-top: 10px;
		float: left;
	}

	.mu-comments-area .comments .comments-pagination li {
		display: inline-block;
	}

	.mu-comments-area .comments .comments-pagination li:first-child a,
	.mu-comments-area .comments .comments-pagination li:last-child a,
	.mu-comments-area .comments .comments-pagination li:first-child a:hover,
	.mu-comments-area .comments .comments-pagination li:last-child a:hover,
	.mu-comments-area .comments .comments-pagination li:first-child a:hover,
	.mu-comments-area .comments .comments-pagination li:last-child a:focus {
		background-color: #0091ea;
		color: #fff;
	}

	.mu-comments-area .comments .comments-pagination li a {
		background-color: transparent;
		border: medium none;
		color: #555;
		display: inline-block;
		font-size: 15px;
		height: 25px;
		line-height: 15px;
		padding: 5px;
		text-align: center;
		width: 25px;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

	.mu-comments-area .comments .comments-pagination li a:hover, 
	.mu-comments-area .comments .comments-pagination li a:focus {
		color: #0091ea;
		background-color: transparent;
		text-decoration: none;
		outline: none;
	}

	.mu-comments-area .comments .commentlist > li:last-child {
		margin-bottom: 0px;
	}

	#respond {
		display: inline;
		float: left;
		margin-top: 50px;
		width: 100%;
	}

	#respond .reply-title {
		border-bottom: 4px solid #ebebeb;
		color: #323232;
		display: inline-block;
		font-size: 24px;
		padding-bottom: 5px;
		margin-bottom: 25px;
	}

	#respond .comment-notes {
		font-size: 15px;
		margin-bottom: 25px;
	}

	#respond .required {
		color: red;
	}

	#respond label {
		display: block;
	}

	#respond input[type="text"], 
	#respond input[type="email"], 
	#respond input[type="url"] {
		border: 1px solid #d7d7d7;
		margin-bottom: 10px;
		height: 40px;
		padding: 0 10px;
		width: 65%;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

	#respond textarea {
		border: 1px solid #ccc;
		margin-bottom: 5px;
		padding: 15px;
		height: 200px;
		width: 100%;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

	#respond input[type="submit"] {
		margin-top: 10px;
	}


	/*--------------------*/
	/* CONTACT US */
	/*--------------------*/

	#mu-contact {
		background-color: #fff;
		display: inline;
		float: left;
		width: 100%;
	}

	.mu-contact-area {
		display: inline;
		float: left;
		text-align: center;
		padding: 100px 0;
		width: 100%;
	}

	.mu-contact-content {
		display: inline;
		float: left;
		width: 100%;
		padding: 0 28%;
	}

	.mu-contact-form-area {
		display: inline;
		float: left;
		width: 100%;
	}

	.mu-contact-form {
		text-align: center;
	}

	.mu-contact-form .form-group {
		position: relative;
	}

	.mu-contact-form .mu-contact-icon {
		color: #0091ea;
		font-size: 14px;
		position: absolute;
		left: 5px;
		top: 15px;
	}

	.mu-contact-form .form-group input {
		background: transparent;
		border-radius: 0;
		color: #333;
		font-size: 14px;
		border: 1px #cccccc;
		border-style: none none solid none;
		height: 45px;
		padding: 0 25px;
		margin-bottom: 24px;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

	.mu-contact-form .form-group textarea {
		background: transparent;
		border: 1px #cccccc;
		border-style: none none solid none;
		border-radius: 0;
		color: #333;
		font-size: 14px;
		padding: 10px;
		height: 100px;
		padding: 13px 25px;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}

	.mu-contact-form .form-control:focus {
		background-color: #fff;
		border-style: none none solid none;
		outline: 0;
		box-shadow: none;    
	} 

	.mu-contact-form .form-control::-webkit-input-placeholder {
		color: #7e7e7e;
		font-size: 14px;
	}

	.mu-contact-form .form-control:-moz-placeholder { /* Firefox 18- */
		color: #7e7e7e;
		font-size: 14px;
	}

	.mu-contact-form .form-control::-moz-placeholder {  /* Firefox 19+ */
		color: #7e7e7e;
		font-size: 14px;
	}

	.mu-contact-form .form-control:-ms-input-placeholder {  
		color: #7e7e7e;
		font-size: 14px;
	}

	.mu-contact-form .button-default::after,
	.mu-contact-form .button-default > span {
		padding: 12px 40px;  
	}

	#form-messages {
		margin-bottom: 10px;
		background-color: #fff;
	}

	.success {
		padding: 1em;
		margin-bottom: 0.75rem;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		color: #468847;
		background-color: #dff0d8;
		border: 1px solid #d6e9c6;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}

	.error {
		padding: 1em;
		margin-bottom: 0.75rem;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		color: #b94a48;
		background-color: #f2dede;
		border: 1px solid rgba(185, 74, 72, 0.3);
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}

	/*--------------------*/
	/* 404 ERROR PAGE */
	/*--------------------*/


	#mu-error {
		background-color: #fff;
		display: inline;
		float: left;
		width: 100%;
	}

	.mu-error-area {
		display: inline;
		float: left;
		text-align: center;
		padding: 100px 0;
		width: 100%;
	}

	.mu-error-area .mu-title {
		margin-bottom: 0;
	}

	.mu-error-area .mu-title h2 {
		font-size: 24px;
	}

	.mu-error-area .mu-title p {
		font-size: 14px;
		color: #323232;
	}

	.mu-error-content {
		display: inline;
		float: left;
		width: 100%;
		padding: 0 15%;
	}

	.mu-error-text {
		display: inline;
		float: left;
		width: 100%;
	}


	.mu-backdrop {
		background-image: url(assets/images/error-bg.jpg);
		width: 100%;
		height: 400px;
		position: relative;
		background-size: cover;
	}

	.mu-text {
		color: black;
		background-color: #fff;
		mix-blend-mode:screen; 
		width: 101%; 
		height: 101%;
		font-weight: 700;
		font-size: 400px;
		text-align: center;
		line-height: 300px;
		margin-top: -1px;
	}

	.mu-backdrop,
	.mu-text {
		border-radius: 2px;
	}

	.mu-overlay {
		background-color: #0091ea;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		mix-blend-mode: color;
	}

	.mu-error-search {
		display: inline;
		float: left;
		width: 100%;
	}

	.mu-error-search .mu-subscribe-form {
		border: 1px solid #ddd;
		border-radius: 25px;
		float: left;
		width: 100%;
		margin-top: 20px;
	}

	.mu-back-to-home {
		color: #0091ea;
		display: inline-block;
		margin-top: 60px;
		font-size: 14px;
	}



	/*--------------------*/
	/* RESPONSIVE STYLE */
	/*--------------------*/

	@media (max-width: 1199px) {

		.mu-single-slide-content-area {
			padding: 9% 10%;
		}

		.mu-about-right {
			padding-left: 0;
		}

		.mu-quote-btn {
			padding: 15px 45px;
			margin-top: 15px;
		}

		.mu-about-right ul li {
			margin-bottom: 10px;
		}

		.mu-single-service-icon {
			margin-right: 0;
		}

		.mu-single-service-content {
			width: 78%;
			margin-left: 15px;
		}

		.mu-video-close-btn {
			right: 20px;
		}

		.mu-video-right {
			padding-right: 15%;
			padding-left: 25px;
		}

		.mu-testimonial-slide .slick-prev {
			left: -20px;
		}

		.mu-testimonial-slide .slick-next {
			right: -20px;
		}

		.mu-clients-single {
			padding: 5px;
		}

		.mu-social-media a {
			margin-right: 3px;
			width: 35px;
			height: 35px;
			line-height: 35px;
			font-size: 15px;
		}

		/*About us page*/

		.mu-single-team-img {
			width: 26%;
		}

		.mu-single-team-content {
			width: 74%;
			padding: 10px 10px;
		}

		.mu-single-team-content span {
			margin-bottom: 0;
		}

		.mu-single-team-content p {
			font-size: 12px;
		}

		/*Blog page*/

		.mu-sidebar-subscribe-widget .mu-subscribe-form input {
			padding: 0 135px 0 15px;
		}

		.mu-sidebar-subscribe-widget .mu-subscribe-btn {
			font-size: 16px;
			width: 125px;
		}

		/*Error Page*/

		.mu-error-area .mu-title {
			padding: 0 15%;
		}

		.mu-error-content {
			padding: 0 10%;
		}


	}

	@media (min-width: 992px) {
		.dropdown:hover .dropdown-menu {
			display: block;
			margin-top: 0; 
			top: 100%;
		}
	}

	@media (max-width: 991px) {	

		.mu-navbar-nav {
			display: flex;
			text-align: left;
			width: 100%;
			margin-top: 10px;
		}

		.mu-navbar-nav li {
			margin-bottom: 10px;
		}

		.mu-navbar .navbar-toggler {
			color: #fff;
			border-color: #fff;
			cursor: pointer;
			padding: 10px 15px;
		}

		.mu-single-slide-content-area {
			padding: 6% 10%;
		}

		.mu-single-slide-content h1 {
			font-size: 35px;
			margin-bottom: 20px;
		}

		.mu-primary-btn {
			padding: 15px 40px;
		}

		.mu-single-slide-content a {
			margin-top: 15px;
		}

		.mu-title {
			padding: 0 10%;
		}

		.mu-call-to-action-left {
			max-width: 65%;
		}

		.mu-single-service-content {
			width: 70%;
			margin-left: 10px;
		}

		.mu-video-iframe-area {
			padding: 12% 5%;
		}

		.mu-video-iframe-area iframe {
			width: 100%;
		}

		.mu-video-close-btn {
			right: 20px;
			top: -40px;
		}

		.mu-video-right {
			padding-right: 5%;
			padding-left: 15px;
		}

		.mu-single-counter span {
			padding: 20px 10px;
		}

		.mu-single-counter-content {
			padding-left: 10px;
			padding-top: 15px;
		}

		.counter-value {
			font-size: 25px;
		}

		.mu-counter-name {
			font-size: 16px;
		}

		.mu-filter-item-content {
			padding-top: 22%;
		}

		.mu-pricing-table > li {
			margin: 0 10px;
			width: 29%;
		}

		.mu-pricing-single-content ul li {
			padding: 0 5px;
		}

		.mu-pricing-single-title h3 {
			font-size: 20px;
		}

		.mu-single-pricebox h4 {
			font-size: 35px;
		}

		.mu-buy-now-btn,
		.mu-standard-pricing .mu-buy-now-btn {
			font-size: 16px;
			padding: 8px 25px;
		}

		.mu-standard-pricing .mu-pricing-single {
			padding: 20px 20px;
		}

		.mu-testimonials-area {
			padding: 100px 0 125px;
		}

		.mu-blog-item-content {
			padding: 15px 15px;
		}

		.mu-newsletter-content {
			padding: 0 20%;
		}

		.mu-social-media a {
			margin-bottom: 10px;
		}

		.mu-clients-area {
			padding: 50px 0;
		}

		/*About US page */

		#mu-skills {
			background-position: inherit;
		}

		/*Contact us page*/

		.mu-contact-content {
			padding: 0 22%;
		}

		/*Blog Page*/

		.mu-popular-content-widget .media > .mu-popular-post-img {
			width: 75px;
			margin-right: 5px;
		}

		.mu-sidebar-widget-title {
			font-size: 22px;
		}

		.mu-sidebar-subscribe-widget .mu-subscribe-form input {
			padding: 0 108px 0 15px;
		}

		.mu-sidebar-subscribe-widget .mu-subscribe-btn {
			font-size: 12px;
			width: 100px;
		}

		/*Error Page*/

		.mu-error-area .mu-title {
			padding: 0 10%;
		}

		.mu-error-content {
			padding: 0;
		}

	}

	@media (max-width: 767px) {

		.mu-title {
			padding: 0;
		}

		.mu-about-area {
			padding: 60px 0;
		}

		.mu-about-right {
			margin-top: 30px;
		}

		#mu-service {
			padding: 60px 0 50px;
		}

		.mu-call-to-action-left {
			max-width: 100%;
		}

		.mu-call-to-action-area {
			text-align: center;
			padding: 50px 0;
		}

		.mu-call-to-action-left h2 {
			margin-bottom: 15px;
		}

		.mu-quote-btn {
			float: none;
			margin-top: 35px;
		}

		.mu-video-right {
			padding-right: 5%;
			padding: 10% 5%;
		}

		.mu-portfolio-area {
			padding: 60px 0;
		}

		.mu-single-service {
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.mu-single-service-content {
			margin-left: 20px;
		}

		.mu-counter-area {
			display: inline;
			float: left;
			padding: 50px 0;
			width: 100%;
		}

		.mu-single-counter {
			margin: 20px 20px;
		}

		#mu-pricing {
			padding: 60px 0;
		}

		.mu-pricing-table > li,
		.mu-pricing-table > li.mu-standard-pricing {
			margin: 10px 0;
			width: 100%;
		}

		.mu-standard-pricing .mu-pricing-single {
			padding: 20px 0;
		}

		.mu-standard-pricing .mu-pricing-single-content {
			padding: 35px 0 15px;
		}

		.mu-standard-pricing .mu-single-pricebox {
			padding: 5px 0 25px;
		}

		.mu-title {
			margin-bottom: 25px;
		}

		#mu-from-blog {
			padding: 60px 0;
		}

		.mu-from-blog-content {
			margin-top: 0;
		}

		.mu-blog-item {
			margin-top: 15px;
			margin-bottom: 15px;
		}

		.mu-footer-top {
			padding: 30px 0 10px;
		}

		.mu-single-footer {
			margin: 15px 0;
		}

		/*About Us page*/

		#mu-skills {
			padding: 60px 0;
		}

		.mu-single-skills {
			margin-top: 15px;
			margin-bottom: 15px;
		}

		.mu-team-area {
			padding: 60px 0 50px;
		}

		.mu-single-team-content p {
			font-size: 14px;
		}

		/*contact us*/

		.mu-contact-content {
			padding: 0 15%;
		}

		#mu-google-map iframe {
			height: 350px;
		}

		/*Blog page*/

		.mu-blog-sidebar {
			margin-top: 50px;
		}

		.mu-popular-content-widget .media > .mu-popular-post-img {
			width: 120px;
			margin-right: 10px;
		}

		.mu-sidebar-subscribe-widget .mu-subscribe-form input {
			padding: 0 170px 0 20px;
		}

		.mu-sidebar-subscribe-widget .mu-subscribe-btn {
			font-size: 16px;
			width: 160px;
		}

		/*Error Page*/

		.mu-error-area .mu-title {
			padding: 0;
		}

		.mu-text {
			font-size: 225px;
			line-height: 225px;
		}

		.mu-backdrop {
			height: 280px;
		}



	}


	@media (max-width: 640px){

		.mu-single-slide-content h1 {
			font-size: 25px;
			margin-bottom: 10px;
		}

		.slick-next {
			right: 10px;
		}

		.slick-prev {
			left: 10px;
		}

		.mu-single-slide-content-area {
			padding:2px 0px;
		}

		.mu-single-slide-content a {
			margin-top: 0;
		}

		.mu-single-slide-content p {
			margin-bottom: 15px;
		}

		.mu-primary-btn {
			padding: 12px 28px;
			font-size: 14px;
		}

		.mu-video-left {
			padding: 120px 0;
		}

		.mu-video-iframe-area {
			padding: 5% 5%;
		}

		.mu-video-iframe-area iframe {
			height: 300px;
		}

		.mu-video-close-btn {
			top: 5px;
			margin-top: 0;
			height: 40px;
			line-height: 35px;
			width: 40px;
		}

		.mu-newsletter-content {
			padding: 0;
		}

		.mu-single-counter {
			margin: 20px 0;
		}

		/*contact us*/

		.mu-contact-content {
			padding: 0 5%;
		}

		#mu-google-map iframe {
			height: 300px;
		}

	}


	@media (max-width: 480px) {
		.mu-single-slide-content a.mu-primary-btn {
			display: none;
		}

		.mu-single-counter span {
			float: none;
		}

		.mu-single-counter-content {
			float: none;
			display: inline-block;
		}

		.mu-title h2 {
			font-size: 25px;
			margin-bottom: 10px;
		}

		.mu-call-to-action-left h2 {
			font-size: 20px;
		}

		.mu-filter-item-content {
			padding-top: 29%;
			font-size: 18px;
		}

		.filtr-item h4 {
			font-size: 18px;
		}

		.mu-testimonials-area h2 {
			font-size: 25px;
		}

		.mu-testimonials-block {
			margin-top: 20px;
		}

		.mu-testimonial-slide li p {
			font-size: 15px;
		}

		.mu-testimonials-area {
			padding: 50px 0 50px;
		}

		.mu-subscribe-btn {
			font-size: 16px;
		}

		.mu-video-play-btn {
			height: 40px;
			width: 60px;
			font-size: 16px;
			line-height: 40px;
		}

		.slick-next,
		.slick-prev {
			width: 40px;
			height: 40px;
		}

		.slick-prev::before, 
		.slick-next::before {
			font-size: 20px;
		}

		.scrollToTop {
			font-size: 25px;
			line-height: 43px;
			width: 45px;
			height: 45px;
		}

		.mu-navbar {
			padding: 10px 0;
		}

		.mu-navbar .navbar-toggler {
			padding: 5px 10px;
		}

		/*About Us page*/

		.mu-page-header-area {
			padding: 80px 0;
		}

		.mu-page-header-title {
			font-size: 30px;
		}

		/*contact us*/

		#mu-google-map iframe {
			height: 250px;
		}

		/*Blog page*/

		#mu-blog {
			padding: 30px 0;
		}

		#mu-blog .mu-blog-item {
			margin-bottom: 30px;
		}

		.mu-blog-pagination .pagination .page-link {
			font-size: 16px;
			width: 35px;
			height: 35px;
			line-height: 33px;
		}

		.mu-blog-pagination .pagination .page-item:first-child .page-link,
		.mu-blog-pagination .pagination .page-item:last-child .page-link {
			line-height: 38px;
		}

		.mu-blog-pagination .pagination {
			float: none;
		}

		.mu-blog-sidebar {
			margin-top: 30px;
		}

		.mu-sidebar-social-widget .mu-social-media a {
			width: 35px;
			height: 35px;
			line-height: 35px;
			font-size: 16px;
		}

		/*Error Page*/

		.mu-error-area {
			padding: 50px 0;
		}

		.mu-text {
			font-size: 180px;
			line-height: 180px;
		}

		.mu-backdrop {
			height: 230px;
		}


	}


	@media (max-width: 360px) {
		.mu-single-slide-content h1 {
			font-size: 18px;
			margin-bottom: 5px;
		}

		.mu-single-slide-content p {
			margin-bottom: 0;
			font-size: 12px;
		}

		.mu-title h2 {
			font-size: 22px;
		}

		.mu-video-iframe-area {
			padding: 15% 5%;
		}

		.mu-video-right p {
			font-size: 16px;
			text-align: center;
		}

		.mu-filter-item-content {
			padding-top: 26%;
		}

		.mu-subscribe-form input {
			padding: 0 130px 0 20px;
		}

		.mu-subscribe-btn {
			font-size: 14px;
			width: 120px;
		}

		.mu-testimonial-slide .slick-next {
			right: 0;
		}

		.mu-testimonial-slide .slick-prev {
			left: 0;
		}

		/*About Us page*/

		.mu-single-team {
			text-align: center;
			padding: 10px 0;
		}

		.mu-single-team-img,
		.mu-single-team-content {
			width: 100%;
		}

		/*Blog page*/

		.mu-blog-pagination .pagination li {
			margin: 0 3px;
		}

		.mu-popular-content-widget .media {
			margin-bottom: 15px;
		}

		.mu-popular-content-widget .media > .mu-popular-post-img {
			width: 85px;
			margin-right: 5px;
		}

		.mu-sidebar-subscribe-widget .mu-subscribe-form input {
			padding: 0 135px 0 15px;
		}

		.mu-sidebar-subscribe-widget .mu-subscribe-btn {
			font-size: 16px;
			width: 125px;
		}

		#respond input[type="text"], 
		#respond input[type="email"], 
		#respond input[type="url"] {
			height: 35px;
			padding: 0 5px;
			margin-bottom: 5px;
			width: 100%;
		}

		#respond textarea {
			padding: 10px;
			height: 150px;
		}

		.mu-related-post .mu-related-post-title {
			font-size: 20px;
			margin-bottom: 15px;
		}

		.mu-comments-area h2 {
			margin-bottom: 10px;
			font-size: 20px;
		}

		.mu-comments-area .comments .commentlist .children {
			padding-left: 15px;
		}

		#respond .reply-title {
			font-size: 22px;
			padding-bottom: 5px;
			margin-bottom: 20px;
		}


		h1 {
			font-size: 30px;
		}

		h2 {  
			font-size: 25px; 
			line-height: 1.13; 
		}

		h3 {  
			font-size: 20px;  
		}

		h4 {  
			font-size: 18px;  
		}

		h5 {  
			font-size: 16px;  
		}

		h6 {  
			font-size: 14px;  
		}

		/*Error Page*/

		.mu-text {
			font-size: 160px;
			line-height: 160px;
		}

		.mu-backdrop {
			height: 200px;
		}



	}



	@media (max-width: 320px) {

		.mu-single-slide-content-area {
			padding: 2% 0%;
		}

		.mu-filter-item-content {
			padding-top: 24%;
		}


	}

	/*############################# CSS BY AMOL ##############################*/

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		font-weight: 700 !important;
		font-size: 19px !important;
		border: 1px outset #FFF !important;
		text-transform: uppercase;
		padding: 10px;
		border: 1px outset #ffc800 !important;
		letter-spacing: 3px;
		color: #F7C221 !important;
		box-shadow: 1px 1px 1px grey inset;
	}
	.logomy{
		font-size: 40px;
		color: white;
		letter-spacing: 5px;
		font-weight:600;
		margin: 155px;
		padding: 15px;
		font-family: Adobe Garamond Pro Bold;

	}
	.my-head{
		background-color:#00456f;
		padding-top:10px;
	}
	.logomy:hover{
		color: white;
		text-decoration: none;
	}
	.text-me h4 { 
		text-align:center;
		font-size: 40px;
		font-family: Adobe Garamond Pro Bold;
		font-weight: 600;
		letter-spacing: 2px;
		color: #f56a07;
	}
	.text-me p { color:blue;
		text-align:center;
		font-size: 12px;
		font-weight:bolder;
		letter-spacing: 2px;
		cursor: pointer;
	}
	.text-me-2 h4{
		text-align:center;
		font-size: 24px;
		font-family: Adobe Garamond Pro Bold;
		font-weight: 600;
		letter-spacing: 2px;
		color: black;
		cursor: pointer;
	}
	.text-me-2 p{
		text-align:center;
		font-size: 33px;
		font-family: Adobe Garamond Pro Bold;
		font-weight: 600;
		letter-spacing: 2px;
		color: black;
		cursor: pointer;
	}
	.text-me-3 h4 {
		font-size: 17px;
		color:#ff4d4d;
		text-align: center;
	}
	.conn{background-color:;
		height: auto;
		padding-left: 50px;
		padding-right: 25px;}

		.text-head1{
			padding:15px;
			margin: 15px 15px;
			margin-top: 55px;

		}
		.text-head1 h4{
			text-align: center;
			font-size: 24px;
			background-color:#262626;
			padding:15px 0px;
			border-radius:15px 20px 0px 0px;
			color:white;
			margin: 0px;


		}
		.text-head2{
			padding:25px;
			margin-bottom: 50px;
		}
		.text-head2 p{
			color: black;
			text-align:justify;
			font-size: 16px;
			margin:0 15px;
			line-height: 26px;
			font-weight: 600;
			

		}
		.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{

			line-height: 1.42857143;
			vertical-align: top;
			border-top: 1px solid #ddd;
			font-size: 18px;
			letter-spacing: 2px;

		}

		.my-nav ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			background-color: black;
			width: 100%;

		}
		.my-nav ul li{
			list-style-type: none;
		}
		.my-nav ul li{
			float: left;
		}
		.my-nav ul li a{
			text-decoration: none;
			color: black;
			display: block;
			padding: 16px 20px;
			font-size: 22px;
			font-weight: 600;
		}

		.my-nav ul li:not(.active) a:hover{
			color: orange;
			color: black;
		}
		.my-nav ul li.active a{
			color: orange;

		}
		.my-nav ul li:last-child{

		}

		.nav-tabs > li > a {
			border: none !important;
			background: none !important;
			font-weight: 500 !important;
			font-size: 12px !important;
			border: 1px dashed #FFF;
			text-transform: uppercase;
			padding: 10px !important;
			letter-spacing: 3px !important;
			color: #999 !important;
		}

		.nav-tabs {
			border: 0 !important;
			padding-bottom: 40px;
		}

		.btn-contact {
			border-radius:0 !important;
			margin-bottom: 75px;
		}

		.btn-contact:hover {
			background:none  !important;
			margin-bottom: 75px;
		}

		.nav-tabs > li {
			float:none;
			margin:30px 5px 20px !important;
			display:inline-block;
		}
		.nav-tabs {
			border-bottom: 1px solid #ddd;
		}
		.nav-tabs > li {
			float: none;
			margin-bottom: -1px;
		}
		.nav-tabs > li > a {
			margin-right: 2px;
			line-height: 1.42857143;
			border: 1px solid transparent;
			border-radius: 4px 4px 0 0;
		}


		.nav-tabs > li > a {
			border: none !important;
			background: none !important;
			font-weight: 600 !important;
			font-size: 18px !important;
			border: 1px inset #f78524  !important;
			text-transform: uppercase;
			padding: 10px 70px !important;
			letter-spacing: 3px !important;
			color: #383535 !important;
			box-shadow: 2px 2px 5px grey;
		}


		.nav-tabs > li > a:hover {
			border-color: #eee #eee #ddd;
		}
		.nav-tabs > li.active > a,
		.nav-tabs > li.active > a:hover,
		.nav-tabs > li.active > a:focus {
			color: #555;
			cursor: default;
			background-color: #fff;
			border: 1px solid #ddd;
			border-bottom-color: transparent;
		}
		.nav-tabs.nav-justified {
			width: 100%;
			border-bottom: 0;
		}
		.nav-tabs.nav-justified > li {
			float: none;
		}
		.nav-tabs.nav-justified > li > a {
			margin-bottom: 5px;
			text-align: center;
		}
		.nav-tabs.nav-justified > .dropdown .dropdown-menu {
			top: auto;
			left: auto;
		}
		@media (min-width: 768px) {
			.nav-tabs.nav-justified > li {
				display: table-cell;
				width: 1%;
			}
			.nav-tabs.nav-justified > li > a {
				margin-bottom: 0;
			}
		}
		.nav-tabs.nav-justified > li > a {
			margin-right: 0;
			border-radius: 4px;
		}
		.nav-tabs.nav-justified > .active > a,
		.nav-tabs.nav-justified > .active > a:hover,
		.nav-tabs.nav-justified > .active > a:focus {
			border: 1px solid #ddd;
		}
		@media (min-width: 768px) {
			.nav-tabs.nav-justified > li > a {
				border-bottom: 1px solid #ddd;
				border-radius: 4px 4px 0 0;
			}
			.nav-tabs.nav-justified > .active > a,
			.nav-tabs.nav-justified > .active > a:hover,
			.nav-tabs.nav-justified > .active > a:focus {
				border-bottom-color: #fff;
			}
		}
		.nav-pills > li {
			float: left;
		}
		.nav-pills > li > a {
			border-radius: 4px;
		}
		.nav-pills > li + li {
			margin-left: 2px;
		}
		.nav-pills > li.active > a,
		.nav-pills > li.active > a:hover,
		.nav-pills > li.active > a:focus {
			color: #fff;
			background-color: #428bca;
		}
		.nav-stacked > li {
			float: none;
		}
		.nav-stacked > li + li {
			margin-top: 2px;
			margin-left: 0;
		}
		.nav-justified {
			width: 100%;
		}
		.nav-justified > li {
			float: none;
		}
		.nav-justified > li > a {
			margin-bottom: 5px;
			text-align: center;
		}
		.nav-justified > .dropdown .dropdown-menu {
			top: auto;
			left: auto;
		}
		@media (min-width: 768px) {
			.nav-justified > li {
				display: table-cell;
				width: 1%;
			}
			.nav-justified > li > a {
				margin-bottom: 0;
			}
		}
		.nav-tabs-justified {
			border-bottom: 0;
		}
		.nav-tabs-justified > li > a {
			margin-right: 0;
			border-radius: 4px;
		}
		.nav-tabs-justified > .active > a,
		.nav-tabs-justified > .active > a:hover,
		.nav-tabs-justified > .active > a:focus {
			border: 1px solid #ddd;
		}
		@media (min-width: 768px) {
			.nav-tabs-justified > li > a {
				border-bottom: 1px solid #ddd;
				border-radius: 4px 4px 0 0;
			}
			.nav-tabs-justified > .active > a,
			.nav-tabs-justified > .active > a:hover,
			.nav-tabs-justified > .active > a:focus {
				border-bottom-color: #fff;
			}
		}
		.tab-content > .tab-pane {
			display: none;

		}
		.tab-content p{
			text-align: justify;
		}
		.tab-content > .active {
			display: block;
		}

		.nav-tabs .dropdown-menu {
			margin-top: -1px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}







	/* ----------------------------------------------------
	PORTFOLIO STYLES
	------------------------------------------------------- */

	.single-portfolio .title h2 {
		font-size:24px;
		text-transform:none;
		margin-top:0;
		padding-top:0;	
	}
	.product_details ul li {
		list-style:none;
		padding-left:2px;
		padding-bottom:5px;
	}
	.pager li > a, .pager li > span {
		background-color: #FFFFFF;
		border: 1px dashed #fff;
		border-radius: 0;
		color:#fff;
		margin:30px 0 0;
		display: inline-block;
		padding: 5px 14px;
	}
	.pager li > a:hover, .pager li > span:hover {
		background-color:#222;
		color:#fff;
	}
	.product_details ul li a {
		color:#666;
	}
	.masonry_wrapper {
		overflow:hidden;
		margin:30px 0;
	}
	.masonry_wrapper .item {
		margin: 0 2px 4px;
		padding:0;
	}
	.masonry_wrapper .item img {
		height: auto !important;
		height: 100% !important;
		width: 100%;
		position: relative;
		z-index: -2;
	}
	#boxed-portfolio .portfolio_item {
		width:100% !important;
		height:auto !important;
		margin:0 0 20px;
		overflow:hidden;
	}
	#boxed-portfolio {
		display: block !important;
		overflow: visible !important;
		position: relative;
		z-index: 10;
		margin-bottom:20px;
	}
	.portfolio-filter ul {
		list-style:none; 
		padding-left:10px
	}
	.portfolio-filter {
		text-align: center;
		overflow:hidden;
		margin: 40px 0 15px;
	}
	.portfolio-filter li {
		display: inline;
		margin-right: 5px;
		padding: 0;
	}
	.portfolio-filter li a {
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
	}
	.team_member img,
	.portfolio_item img {
		width:100%;
	}
	.isotope-item {
		z-index: 2;
	}
	.isotope-hidden.isotope-item {
		pointer-events: none;
		z-index: 1;
	}
	.isotope,
	.isotope .isotope-item {
		-webkit-transition-duration: 0.8s;
		-moz-transition-duration: 0.8s;
		-ms-transition-duration: 0.8s;
		-o-transition-duration: 0.8s;
		transition-duration: 0.8s;
	}
	.isotope {
		-webkit-transition-property: height, width;
		-moz-transition-property: height, width;
		-ms-transition-property: height, width;
		-o-transition-property: height, width;
		transition-property: height, width;
	}
	.isotope .isotope-item {
		-webkit-transition-property: -webkit-transform, opacity;
		-moz-transition-property:    -moz-transform, opacity;
		-ms-transition-property:     -ms-transform, opacity;
		-o-transition-property:      -o-transform, opacity;
		transition-property:         transform, opacity;
	}
	.isotope.no-transition,
	.isotope.no-transition .isotope-item,
	.isotope .isotope-item.no-transition {
		-webkit-transition-duration: 0s;
		-moz-transition-duration: 0s;
		-ms-transition-duration: 0s;
		-o-transition-duration: 0s;
		transition-duration: 0s;
	}
	.magnifier .btn-default {
		padding:0 20px !important;
		color:#222222 !important;
		width:auto !important;
	}
	.magnifier .sg,
	.magnifier .st,
	.magnifier .sf {
		border:1px solid #ffffff;
		color: #FFFFFF;
		display: block;
		display: inline-block !important;float: none !important;
		font-size: 16px;
		height: 40px;
		line-height: 38px;
		text-align: center;
		width: 40px;
		margin: -10px 2px 0 2px;
		text-align: center;
		width: 40px;
	}
	.magnifier h4 {
		color:#ffffff;
		text-align:center;
		font-size:16px;
		padding:10px 0;
		margin-bottom:20px;
		display:block;
		font-family: 'bariol_lightlight';
	}
	.magnifier h3 {
		color:#ffffff;
		text-align:center;
	}
	.portfolio_item .magnifier .buttons {
		top:44%;
	}
	.magnifier .buttons {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		text-align: center;
		width: 100%;
		top: 50%;
		margin-top: -20px;
		-webkit-transform: scale(0.2);
		-moz-transform: scale(0.2);
		-ms-transform: scale(0.2);
		-o-transform: scale(0.2);
		transform: scale(0.2);
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		-ms-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
	.magnifier:hover .buttons {
		opacity: 1;
		visibility: visible;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	.entry:hover .magnifier { 
		opacity: 1;
		visibility: visible;
	}
	.magnifier {
		background:#3C3B3B000;
		background:rgba(0,0,0,0.8);
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		opacity:0;
		-webkit-transition:all .3s ease-in-out;
		-moz-transition:all .3s ease-in-out;
		-ms-transition:all .3s ease-in-out;
		-o-transition:all .3s ease-in-out;
		transition:all .3s ease-in-out;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	.btn-primary {
		display: inline-block;
		padding: 6px 13px;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: 700;
		line-height: 1.428571429;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		white-space: nowrap;
		background: 0 0;
		color: #292723!important;
		border: 1px dashed #F7C221;
		margin-top: 30px;
		text-transform: uppercase;
	}

	.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
		color: #FFF !important;
		background-color: #F7C221 !important;
		border-color: #F7C221 !important;
	}


	.hovereffect .icon {
		font-size: 31px;
		font-weight: 300;
		height: 75px;
		left: 0;
		line-height: 75px;
		margin: -35px auto 0;
		position: absolute;
		right: 0;
		top:38%;
		text-align: center;
		width: 75px;
	}

	.hovereffect h4 {
		text-align:center;
		font-size:20px;
		padding:10px 30px;
		text-transform:uppercase;
		width:auto;
		margin-bottom:0;
		display:block;
		font-weight:700;
	}

	.hovereffect h5 {
		text-align:center;
		font-size:12px;
		padding:10px 30px;
		text-transform:uppercase;
		width:auto;
		color:#fff;
		margin-bottom:0;
		display:block;
		font-weight:700;
	}

	.hovereffect h4,
	.hovereffect .icon {
		color:#fff;
	}
	.hovereffect .buttons {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		text-align: center;
		width: 100%;
		height:auto;
		bottom: 29%;
		margin-top: -20px;
		-webkit-transform: scale(0.2);
		-moz-transform: scale(0.2);
		-ms-transform: scale(0.2);
		-o-transform: scale(0.2);
		transform: scale(0.2);
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		-ms-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
	.hovereffect:hover .buttons {
		opacity: 1;
		visibility: visible;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	.entry:hover .hovereffect { 
		opacity: 1;
		visibility: visible;
	}
	.entry {
		display:block;
		position:relative;	
	}
	.hovereffect {
		background-color:rgba(0,0,0,0.6);
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		opacity:0;
		-webkit-transition:all .3s ease-in-out;
		-moz-transition:all .3s ease-in-out;
		-ms-transition:all .3s ease-in-out;
		-o-transition:all .3s ease-in-out;
		transition:all .3s ease-in-out;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}



	.dark-wrapper {
		display: block;
		padding: 100px 0;
		background-color: #fff;
	}

	.ssc i
	{
		margin-right: 10px;
	}

	.contact_tab {
		width: 100%;
	}

	@media (max-width: 480px) {

		.nav-tabs > li {
			float: left!important;
			margin-bottom: 1em!important;
		}

	}